# lcd's touch control
# ACTION=="add", ATTRS{idVendor}=="0483", ATTRS{idProduct}=="5750", ATTRS{product}=="MPI5001", RUN+="/bin/sh -c 'echo \"%b:1.0\" > /sys/bus/usb/drivers/usbhid/bind'" 
ACTION=="add", ATTRS{idVendor}=="0483", ATTRS{idProduct}=="5750", ATTRS{product}=="MPI5001", RUN+="/bin/bash /etc/udev/mpi5001_bind_driver.bash" 
